<% if @article.errors.any? %>
<div class="row">
                    
                        <h4 class="alert alert-info">The following errors prevented the Article from being created.</h4>
                    <% @article.errors.full_messages.each do |msg| %>
                        <ul class="alert alert-danger fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><li><%= msg %></li>
                    <%end%>
                   
                    </ul>
</div>
<%end%>       
<div class='row'>
<div class='col-xs-12'>
<%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
<div class="form-group">
<div class="control-label col-sm-2">
<%= f.label :title %>
</div>
<div class="col-sm-8">
<%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
</div>
</div>
<div class="form-group">
<div class="control-label col-sm-2">
<%= f.label :description %>
</div>
<div class="col-sm-8">
<%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of article" %>
</div>
</div>
<div class="form-group">
<div class="col-sm-10">
<%= f.submit class: 'btn btn-primary btn-lg' %>
</div>
</div>
<% end %>
<div class="col-xs-4 col-xs-offset-4">
[ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
</div>
</div>
</div>