<div class="row">
                    <% if @article.errors.any? %>
                        <h4 class="alert alert-info">The following errors prevented the Article from being created.</h4>
                    <% @article.errors.full_messages.each do |msg| %>
                        <ul class="alert alert-danger fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><li><%= msg %></li>
                    <%end%>
                    <%end%>
                    </ul>
</div>
                    
<%= form_for @article do |f| %>
<p >
    <%= f.label :title %></br>
    <%= f.text_field :title %>
</p>
<p>
        <%= f.label :description %></br>
        <%= f.text_area :description %>
</p>
<p>
    <%= f.submit 'Add / Edit', :class => 'btn btn-success btn-lg' %>
</p>
<% end %>