
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
 <!--                    <div class="iphone-mockup"><%= image_tag 'ipad.svg'%> 
<div class="screen"><% image_tag 'screen.PNG'%></div>
                   </div>-->
                </div>
                <div class="col-md-12 col-md-pull-3 get-it">
                    <h1>Edit Article <%= @article.id%></h1>
             
                    <ul style="list-style:none;">
                    <% if @article.errors.any? %>
                        <h4 class="alert alert-info"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>The following errors prevented the Article from being created.</h4>
                    <% @article.errors.full_messages.each do |msg| %>
                    <li class="alert alert-danger fade in"><%= msg %><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></li>
                    
                    <%end%>
                    <%end%>
                    </ul>    
                    
<%= form_for @article do |f| %>
<p >
    <%= f.label :title %></br>
    <%= f.text_field :title %>
</p>
<p>
        <%= f.label :description %></br>
        <%= f.text_area :description %>
</p>
<p>
    <%= f.submit 'Save Edit', :class => 'btn btn-success btn-lg' %>
</p>
<% end %>

                <button class="btn"><%= link_to "Back to Articles", articles_path %></button></div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center">Did we mention? People Love It!</h2>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Famous tech website</footer>
        </blockquote>
    </section>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Fantastic Features</h2>
                    <p>Morbi non mauris massa. Duis elit mauris, malesuada nec suscipit ac, bibendum sed augue. Maecenas condimentum magna gravida, laoreet nunc sed, euismod sem. </p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"><span class="glyphicon glyphicon-cloud"></span>
                            <p>Cloud-ready </p>
                        </div>
                        <div class="col-xs-4 icon-feature"><span class="glyphicon glyphicon-piggy-bank"></span>
                            <p>Saves You Money</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><span class="glyphicon glyphicon-fire"></span>
                            <p>Fire Proof</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 