
    <div class="jumbotron hero">
        <div class="container" style="background-color:white;">
            
                
            
                    <h1>Alpha Blog Article Index</h1>
<p><button><%= link_to "Create New Article", new_article_path %></button></p>
                    
            <table>
    <tr>
        <td>&nbsp;</td>
    <th style="text-align:center;">Title</th>
    <th>&nbsp;</th>
    <th style="text-align:center;">Description</th>
    
    </tr>
    <% @articles.each do |article| %>
<tr>
    <td>&nbsp;</td>
    <td><%= article.title %></td>
    <td>&nbsp;</td>
    <td><%= article.description %></td>
    <td>&nbsp;</td>
    <td><%= link_to " ", edit_article_path(article), :class => 'fa fa-edit lrg'  %></td>
    <td>&nbsp;</td>
    <td><%= link_to " ", article_path(article), :class => 'fa fa-tv lrg'  %></td>
    <td>&nbsp;</td>
    <td><%= link_to " ", article_path(article), method: :delete, data: {confirm: "Are you sure?"},:class => 'fa fa-trash'  %></td>
    
</tr>
    <% end %>
</table> 
                      
                </div>
    </div>
<%= render 'layouts/testimonials' %>  
<%= render 'layouts/features' %>
 