
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
                    
 <!--                    <div class="iphone-mockup"><%= image_tag 'ipad.svg'%> 
<div class="screen"><% image_tag 'screen.PNG'%></div>
                   </div>-->
                </div>
                <div class="col-md-12 col-md-pull-3 get-it">
                    <h1>List all Articles</h1>
<p><button><%= link_to "Create New Article", new_article_path %></button></p>
                    <div class="col-md-6">
                    
                </div>
                    <div class="col-md-6" style="background-color:white;">
                    <table>
    <tr>
        <td>&nbsp;</td>
    <th style="text-align:center;">Title</th>
    <th>&nbsp;</th>
    <th style="text-align:center;">Description</th>
    
    </tr>
    <% @articles.each do |article| %>
<tr>
    <td>&nbsp;</td>
    <td><%= article.title %></td>
    <td>&nbsp;</td>
    <td><%= article.description %></td>
    <td>&nbsp;</td>
    <td><%= link_to " ", edit_article_path(article), :class => 'fa fa-edit lrg'  %></td>
    <td>&nbsp;</td>
    <td><%= link_to " ", article_path(article), :class => 'fa fa-tv lrg'  %></td>
    <td>&nbsp;</td>
    <td><%= link_to " ", article_path(article), method: :delete, data: {confirm: "Are you sure?"},:class => 'fa fa-trash'  %></td>
    
</tr>
    <% end %>
</table> 
                       
                </div>
                    
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center">Did we mention? People Love It!</h2>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Famous tech website</footer>
        </blockquote>
    </section>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Fantastic Features</h2>
                    <p>Morbi non mauris massa. Duis elit mauris, malesuada nec suscipit ac, bibendum sed augue. Maecenas condimentum magna gravida, laoreet nunc sed, euismod sem. </p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"><span class="glyphicon glyphicon-cloud"></span>
                            <p>Cloud-ready </p>
                        </div>
                        <div class="col-xs-4 icon-feature"><span class="glyphicon glyphicon-piggy-bank"></span>
                            <p>Saves You Money</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><span class="glyphicon glyphicon-fire"></span>
                            <p>Fire Proof</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 