
    <div class="jumbotron hero">
<div class="container post">
        <div class="row">
            <div class="col-md-6 post-title">
                Title:<h1> <%= @article.title %></h1>
                     <%= link_to "Edit Article", edit_article_path, :class => "btn btn-primary" %>&nbsp;&nbsp;
                <%= link_to "Back to Articles", articles_path, :class => "btn btn-default" %>
                </br>
            </br>
                <p class="author"><strong>author: user</strong> <span class="text-muted">Date Stamp HERE</span></p>
            </div>
            <div class="col-md-6 col-md-offset-0 post-body"style="color:white;text-shadow:1px 1px #000;">
                
                <h4>Description:
                </h4><p>   <%= @article.description %>
                </p>
                <p>Sed mollis, urna eu tempus facilisis, diam tellus aliquam tortor, et vestibulum ante quam non justo. Nullam luctus rutrum mattis. Maecenas in pharetra mi, vel mollis odio. </p>
                <figure><img class="img-thumbnail" src="assets/img/camera_illustration.jpg">
                    <figcaption>Praesent sed convallis nisi </figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sem quam, scelerisque vitae sem non, ornare condimentum leo. Vivamus eros tortor, tincidunt et viverra ac, gravida eu augue. Interdum et malesuada fames ac ante ipsum primis
                    in faucibus. Praesent nibh ex, hendrerit at tellus sed, laoreet suscipit leo. </p>
            </div>
        </div>
    </div>

</div>


<%= render 'layouts/testimonials2' %>  
<%= render 'layouts/features' %>
 