<nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <%= link_to root_path, class: "navbar-brand navbar-link" do %>
                <%= image_tag 'logo.svg' %> Alpha Blog - migSig Inc.<% end %>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span></span><span></span><span></span><i class="fa fa-navicon"></i> </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><%= link_to "Home", root_path %></li>
                    <li role="presentation"><%= link_to "About", about_path %></li>
                    <li role="presentation"><%= link_to "Blog", articles_path %></li>
                    <li role="presentation"><%= link_to "Contact", contact_path %></li>
                </ul>
            </div>
        </div>
    </nav>