<!DOCTYPE html>
<html>
<head>
    <style>
        body {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}</style>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alpha Blog - migSig Development</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>

</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><%= image_tag 'logo.svg' %>  migSig Inc.</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span></span><span></span><span></span><i class="fa fa-navicon"></i> </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><%= link_to "Home", root_path %></li>
                    <li role="presentation"><%= link_to "About", about_path %></li>
                    <li role="presentation"><%= link_to "Alpha Blog", articles_path %></li>
                    <li role="presentation"><%= link_to "Contact", contact_path %></li>
                </ul>
            </div>
        </div>
    </nav>
          <div>
              <%= render 'layouts/flash_messages' %>
       </div> 
</header>
    
<%= yield %> <!--DON"T DELETE-->
    
<footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>Mobile App © 2015</h5></div>
                <div class="col-sm-6 social-icons"><a href="https://facebook.com/migsiginc"><span class="fa fa-facebook"></span></a><a href="https://twitter.com/migsig"><span class="fa fa-twitter"></span></a><a href="https://instagram.com/migsig"><span class="fa fa-instagram"></span></a></div>
            </div>
        </div>
        <div></div>
    </footer>
</body>
</html>
